<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ClassFinder/src/main/java/ClassFinder.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ClassFinder"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ClassFinder"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dawt.useSystemAAFontSettings=lcd&#10;-Dswing.defaultlaf=SystemLookAndFeel&#13;-Dswing.aatext=true&#10;-Dapple.laf.useScreenMenuBar=true&#10;-Dapple.awt.graphics.UseQuartz=true"/>
</launchConfiguration>
